<img align="left" src="https://lever-client-logos.s3.amazonaws.com/864372b1-534c-480e-acd5-9711f850815c-1524247202159.png" width=200>
<br></br>
<br></br>

# Sprint Challenge
## *Data Science Unit 4 Sprint 1*

After a week of Natural Language Processing, you've learned some cool new stuff: how to process text, how turn text into vectors, and how to model topics from documents. Apply your newly acquired skills to one of the most famous NLP datasets out there: [Yelp](https://www.yelp.com/dataset/challenge). As part of the job selection process, some of my friends have been asked to create analysis of this dataset, so I want to empower you to have a head start.  

The real dataset is massive (almost 8 gigs uncompressed). I've sampled the data for you to something more managable for the Sprint Challenge. You can analyze the full dataset as a stretch goal or after the sprint challenge. As you work on the challenge, I suggest adding notes about your findings and things you want to analyze in the future.

## Challenge Objectives
*Successfully complete these all these objectives to earn a 2. There are more details on each objective further down in the notebook.*
* <a href="#p1">Part 1</a>: Write a function to tokenize the yelp reviews
* <a href="#p2">Part 2</a>: Create a vector representation of those tokens
* <a href="#p3">Part 3</a>: Use your tokens in a classification model on yelp rating
* <a href="#p4">Part 4</a>: Estimate & Interpret a topic model of the Yelp reviews

In [2]:
import pandas as pd
import spacy
from spacy.tokenizer import Tokenizer
import re

nlp = spacy.load("en_core_web_md")
yelp = pd.read_json('data/review_sample.json', lines=True)

In [3]:
yelp.head()

,business_id,cool,date,funny,review_id,stars,text,useful,user_id
0,nDuEqIyRc8YKS1q1fX0CZg,1,2015-03-31 16:50:30,0,eZs2tpEJtXPwawvHnHZIgQ,1,"BEWARE!!! FAKE, FAKE, FAKE....We also own a sm...",10,n1LM36qNg4rqGXIcvVXv8w
1,eMYeEapscbKNqUDCx705hg,0,2015-12-16 05:31:03,0,DoQDWJsNbU0KL1O29l_Xug,4,Came here for lunch Togo. Service was quick. S...,0,5CgjjDAic2-FAvCtiHpytA
2,6Q7-wkCPc1KF75jZLOTcMw,1,2010-06-20 19:14:48,1,DDOdGU7zh56yQHmUnL1idQ,3,I've been to Vegas dozens of times and had nev...,2,BdV-cf3LScmb8kZ7iiBcMA
3,k3zrItO4l9hwfLRwHBDc9w,3,2010-07-13 00:33:45,4,LfTMUWnfGFMOfOIyJcwLVA,1,We went here on a night where they closed off ...,5,cZZnBqh4gAEy4CdNvJailQ
4,6hpfRwGlOzbNv7k5eP9rsQ,1,2018-06-30 02:30:01,0,zJSUdI7bJ8PNJAg4lnl_Gg,4,"3.5 to 4 stars\n\nNot bad for the price, $12.9...",5,n9QO4ClYAS7h9fpQwa5bhA

## Part 1: Tokenize Function
<a id="#p1"></a>

Complete the function `tokenize`. Your function should
- accept one document at a time
- return a list of tokens

You are free to use any method you have learned this week.

In [22]:
def tokenize(text):

    text = nlp(text)
    tokens = [token.lemma_ for token in text if (token.is_stop != True) and (token.is_punct != True) and (token.text != " ")]
    return tokens

def retoken(text):
    
    tokens = re.sub(r'[^a-zA-Z ^0-9]', '', text)
    tokens = tokens.lower().split()
    tokens = str(tokens)
    
    return tokens

In [23]:
sample = "Hello, My name is Gabe and this is a ! test !!!"
tokenize(sample)

['hello', 'Gabe', 'test']

In [6]:
%%time
yelp['tokens'] = yelp['text'].apply(tokenize)

Wall time: 5min 6s

In [24]:
yelp['tokens'] = yelp['text'].apply(retoken)

In [25]:
yelp.head()

,business_id,cool,date,funny,review_id,stars,text,useful,user_id,tokens
0,nDuEqIyRc8YKS1q1fX0CZg,1,2015-03-31 16:50:30,0,eZs2tpEJtXPwawvHnHZIgQ,1,"BEWARE!!! FAKE, FAKE, FAKE....We also own a sm...",10,n1LM36qNg4rqGXIcvVXv8w,"['beware', 'fake', 'fake', 'fakewe', 'also', '..."
1,eMYeEapscbKNqUDCx705hg,0,2015-12-16 05:31:03,0,DoQDWJsNbU0KL1O29l_Xug,4,Came here for lunch Togo. Service was quick. S...,0,5CgjjDAic2-FAvCtiHpytA,"['came', 'here', 'for', 'lunch', 'togo', 'serv..."
2,6Q7-wkCPc1KF75jZLOTcMw,1,2010-06-20 19:14:48,1,DDOdGU7zh56yQHmUnL1idQ,3,I've been to Vegas dozens of times and had nev...,2,BdV-cf3LScmb8kZ7iiBcMA,"['ive', 'been', 'to', 'vegas', 'dozens', 'of',..."
3,k3zrItO4l9hwfLRwHBDc9w,3,2010-07-13 00:33:45,4,LfTMUWnfGFMOfOIyJcwLVA,1,We went here on a night where they closed off ...,5,cZZnBqh4gAEy4CdNvJailQ,"['we', 'went', 'here', 'on', 'a', 'night', 'wh..."
4,6hpfRwGlOzbNv7k5eP9rsQ,1,2018-06-30 02:30:01,0,zJSUdI7bJ8PNJAg4lnl_Gg,4,"3.5 to 4 stars\n\nNot bad for the price, $12.9...",5,n9QO4ClYAS7h9fpQwa5bhA,"['35', 'to', '4', 'starsnot', 'bad', 'for', 't..."

## Part 2: Vector Representation
<a id="#p2"></a>
1. Create a vector representation of the reviews
2. Write a fake review and query for the 10 most similiar reviews, print the text of the reviews. Do you notice any patterns?
    - Given the size of the dataset, it will probably be best to use a `NearestNeighbors` model for this.

In [26]:
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer
import matplotlib.pyplot as plt
from sklearn.neighbors import NearestNeighbors

In [27]:
vect = CountVectorizer()
vect.fit(yelp['tokens'])
dtm = vect.transform(yelp['tokens'])

In [28]:
dtm_df = pd.DataFrame(dtm.todense(), columns = vect.get_feature_names())

In [29]:
dtm_df.head()

,001695do,001695howard,007,011802,0227,025,035lbs,04,04162016,05,...,zuma,zumanity,zumba,zuni,zupas,zuzana,zuzu,zyrtec,zzaplon,zzzzzzzzzmy
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [30]:
tfidf = TfidfVectorizer(tokenizer=tokenize, min_df=0.025, max_df=.98, ngram_range=(1,2))
dtm = tfidf.fit_transform(yelp['tokens'])
dtm = pd.DataFrame(dtm.todense(), columns = tfidf.get_feature_names())

In [31]:
nn = NearestNeighbors(n_neighbors = 5, algorithm = 'kd_tree')
nn.fit(dtm)

NearestNeighbors(algorithm='kd_tree', leaf_size=30, metric='minkowski',
                 metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                 radius=1.0)

In [32]:
nn.kneighbors([dtm.iloc[10]])

(array([[0.        , 0.86999953, 0.94229328, 0.9456555 , 0.95554834]]),
 array([[  10, 5531, 9086, 8348, 5741]], dtype=int64))

In [33]:
yelp['tokens'][5531][:300]

"['pizza', 'is', 'a', 'staple', 'for', 'me', 'i', 'love', 'everything', 'about', 'crunch', 'crust', 'a', 'nice', 'rich', 'tomato', 'sauce', 'and', 'a', 'thick', 'layer', 'of', 'melted', 'cheese', 'i', 'have', 'never', 'tried', 'chicago', 'style', 'pizza', 'before', 'and', 'when', 'we', 'had', 'to', '"

In [34]:
yelp['tokens'][5741][:300]

"['this', 'pizza', 'is', 'so', 'good', 'i', 'went', 'here', 'with', 'my', 'mom', 'after', 'work', 'and', 'the', 'environment', 'was', 'really', 'chill', 'and', 'relaxing', 'and', 'the', 'servers', 'were', 'really', 'nice', 'too', 'their', 'pizzas', 'are', 'innovative', 'without', 'being', 'too', 'muc"

In [35]:
fake = ["The pizza was ok, me and my mom had to wait for about 20 min which was fine but i would have much prefered to be seated earlier"]

In [36]:
new = tfidf.transform(fake)
nn.kneighbors(new.todense())

(array([[1., 1., 1., 1., 1.]]),
 array([[4839, 6204, 6311, 3469, 9889]], dtype=int64))

In [37]:
fake

['The pizza was ok, me and my mom had to wait for about 20 min which was fine but i would have much prefered to be seated earlier']

In [38]:
yelp['tokens'][9889][:300]

"['bon', 'massage', 'spa', 'propre', 'organis', 'manque', 'juste', 'le', 'stationnement', 'prix', 'abordable', 'en', 'promotion', 'personnels', 'respectueux']"

## Part 3: Classification
<a id="#p3"></a>
Your goal in this section will be to predict `stars` from the review dataset. 

1. Create a piepline object with a sklearn `CountVectorizer` or `TfidfVector` and any sklearn classifier. Use that pipeline to estimate a model to predict `stars`. Use the Pipeline to predict a star rating for your fake review from Part 2. 
2. Tune the entire pipeline with a GridSearch

In [39]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import GridSearchCV
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.pipeline import Pipeline

In [40]:
vect = TfidfVectorizer(stop_words = 'english')
rf = RandomForestClassifier()

In [41]:
pipe = Pipeline([('vect',vect),('rf',rf)])

In [42]:
parameters = {
    'vect__max_df': ( 0.8, 1.0),        
    'vect__min_df': (.02, .05),          
    'vect__max_features': (1000,5000),
    'rf__n_estimators':(5, 100,),
    'rf__max_depth':(15,30)
}

In [43]:
gs = GridSearchCV(pipe,parameters,cv = 6, n_jobs = -1, verbose = True)
gs.fit(yelp['tokens'], yelp['stars'])

Fitting 6 folds for each of 32 candidates, totalling 192 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 8 concurrent workers.
[Parallel(n_jobs=-1)]: Done  34 tasks      | elapsed:   16.7s
[Parallel(n_jobs=-1)]: Done 192 out of 192 | elapsed:  3.3min finished

GridSearchCV(cv=6, error_score='raise-deprecating',
             estimator=Pipeline(memory=None,
                                steps=[('vect',
                                        TfidfVectorizer(analyzer='word',
                                                        binary=False,
                                                        decode_error='strict',
                                                        dtype=<class 'numpy.float64'>,
                                                        encoding='utf-8',
                                                        input='content',
                                                        lowercase=True,
                                                        max_df=1.0,
                                                        max_features=None,
                                                        min_df=1,
                                                        ngram_range=(1, 1),
                                                        norm='l2',
                                                        preprocessor=None,
                                                        smooth_idf=True,
                                                        stop_words...
                                                               n_estimators='warn',
                                                               n_jobs=None,
                                                               oob_score=False,
                                                               random_state=None,
                                                               verbose=0,
                                                               warm_start=False))],
                                verbose=False),
             iid='warn', n_jobs=-1,
             param_grid={'rf__max_depth': (15, 30),
                         'rf__n_estimators': (5, 100),
                         'vect__max_df': (0.8, 1.0),
                         'vect__max_features': (1000, 5000),
                         'vect__min_df': (0.02, 0.05)},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring=None, verbose=True)

In [44]:
gs.best_score_

0.5643

In [45]:
pred = gs.predict(yelp['tokens'])

In [46]:
p = pd.DataFrame({'desc': yelp['text'], 'rate':pred})
p['rate'] = p['rate'].astype('int64')

In [51]:
p.head(10)

                                                desc  rate
0  BEWARE!!! FAKE, FAKE, FAKE....We also own a sm...     1
1  Came here for lunch Togo. Service was quick. S...     4
2  I've been to Vegas dozens of times and had nev...     3
3  We went here on a night where they closed off ...     5
4  3.5 to 4 stars\n\nNot bad for the price, $12.9...     4
5  Tasty, fast casual Latin street food.  The men...     4
6  This show is absolutely amazing!! What an incr...     5
7  Came for the Pho and really enjoyed it!  We go...     4
8  Absolutely the most Unique experience in a nai...     5
9  Wow. I walked in and sat at the bar for 10 min...     1

In [48]:
yelp.head(10)

,business_id,cool,date,funny,review_id,stars,text,useful,user_id,tokens
0,nDuEqIyRc8YKS1q1fX0CZg,1,2015-03-31 16:50:30,0,eZs2tpEJtXPwawvHnHZIgQ,1,"BEWARE!!! FAKE, FAKE, FAKE....We also own a sm...",10,n1LM36qNg4rqGXIcvVXv8w,"['beware', 'fake', 'fake', 'fakewe', 'also', '..."
1,eMYeEapscbKNqUDCx705hg,0,2015-12-16 05:31:03,0,DoQDWJsNbU0KL1O29l_Xug,4,Came here for lunch Togo. Service was quick. S...,0,5CgjjDAic2-FAvCtiHpytA,"['came', 'here', 'for', 'lunch', 'togo', 'serv..."
2,6Q7-wkCPc1KF75jZLOTcMw,1,2010-06-20 19:14:48,1,DDOdGU7zh56yQHmUnL1idQ,3,I've been to Vegas dozens of times and had nev...,2,BdV-cf3LScmb8kZ7iiBcMA,"['ive', 'been', 'to', 'vegas', 'dozens', 'of',..."
3,k3zrItO4l9hwfLRwHBDc9w,3,2010-07-13 00:33:45,4,LfTMUWnfGFMOfOIyJcwLVA,1,We went here on a night where they closed off ...,5,cZZnBqh4gAEy4CdNvJailQ,"['we', 'went', 'here', 'on', 'a', 'night', 'wh..."
4,6hpfRwGlOzbNv7k5eP9rsQ,1,2018-06-30 02:30:01,0,zJSUdI7bJ8PNJAg4lnl_Gg,4,"3.5 to 4 stars\n\nNot bad for the price, $12.9...",5,n9QO4ClYAS7h9fpQwa5bhA,"['35', 'to', '4', 'starsnot', 'bad', 'for', 't..."
5,Db3CfZWrtG33UZSs8Tdlsg,1,2016-10-23 22:43:56,1,nXYV_0joQEMXYAfNyOPsRw,4,"Tasty, fast casual Latin street food. The men...",1,Gjz2PCbLZ6midk1n_0LaUg,"['tasty', 'fast', 'casual', 'latin', 'street',..."
6,gJhMeq2nVH27tz8LqbD3eQ,0,2013-05-20 19:09:43,0,ZA7SRi6fTRWwpo-B9O72qQ,5,This show is absolutely amazing!! What an incr...,0,BeKPVuqX-2at4izqVwUFEg,"['this', 'show', 'is', 'absolutely', 'amazing'..."
7,Yt5gK4E9NqVa14WNiQdBlQ,0,2018-07-12 01:19:53,0,4_GnHPkyTirzK6onIKO4jw,4,Came for the Pho and really enjoyed it! We go...,0,PuXpIJzTBQejeBZh9hwynQ,"['came', 'for', 'the', 'pho', 'and', 'really',..."
8,c7WsC8SbUcLyZkREzx9dGA,1,2017-09-27 22:10:26,0,XGGHc7pYgOm5s6SWr8NMXA,5,Absolutely the most Unique experience in a nai...,0,NVVknS1I51z8wY5NNrJ6vQ,"['absolutely', 'the', 'most', 'unique', 'exper..."
9,NSifXpsCRvnsBRqrHF9CJA,0,2015-01-25 08:43:15,0,--e66tyhwCE6eoRmcK2w8g,1,Wow. I walked in and sat at the bar for 10 min...,2,J7MsJKJDSA5OGo2-Hn7MbA,"['wow', 'i', 'walked', 'in', 'and', 'sat', 'at..."

## Part 4: Topic Modeling

Let's find out what those yelp reviews are saying! :D

1. Estimate a LDA topic model of the review text
    - Keep the `iterations` parameter at or below 5 to reduce run time
    - The `workers` parameter should match the number of physical cores on your machine.
2. Create 1-2 visualizations of the results
    - You can use the most important 3 words of a topic in relevant visualizations. Refer to yesterday's notebook to extract. 
3. In markdown, write 1-2 paragraphs of analysis on the results of your topic model

__*Note*__: You can pass the DataFrame column of text reviews to gensim. You do not have to use a generator.

In [53]:
%%time
yelp['tokens'] = yelp['text'].apply(tokenize)

Wall time: 4min 51s

In [49]:
from gensim.models import LdaMulticore
from gensim.corpora import Dictionary

Learn the vocubalary of the yelp data:

In [64]:
id2word = Dictionary(yelp['tokens'])

In [65]:
id2word.filter_extremes(no_below=10, no_above=0.75)

Create a bag of words representation of the entire corpus

In [66]:
corpus = [id2word.doc2bow(text) for text in yelp['tokens']]

Your LDA model should be ready for estimation:

In [67]:
lda = LdaMulticore(corpus=corpus,
                   id2word=id2word,
                   iterations=5,
                   workers=8,
                   num_topics = 20 # You can change this parameter
                  )

Create 1-2 visualizations of the results

In [68]:
lda.print_topics()

[(0,
  '0.021*"good" + 0.021*"\n\n" + 0.013*"place" + 0.010*"come" + 0.010*"time" + 0.009*"like" + 0.009*"food" + 0.009*"service" + 0.009*"order" + 0.007*"love"'),
 (1,
  '0.020*"\n\n" + 0.012*"great" + 0.012*"place" + 0.011*"go" + 0.010*"food" + 0.009*"order" + 0.009*"good" + 0.008*"service" + 0.008*"come" + 0.008*"get"'),
 (2,
  '0.020*"\n\n" + 0.013*"place" + 0.011*"food" + 0.011*"good" + 0.010*"like" + 0.010*"time" + 0.010*"great" + 0.010*"order" + 0.010*"service" + 0.009*"$"'),
 (3,
  '0.023*"\n\n" + 0.013*"good" + 0.011*"place" + 0.010*"food" + 0.009*"order" + 0.008*"like" + 0.008*"time" + 0.007*"go" + 0.007*"great" + 0.007*"come"'),
 (4,
  '0.016*"\n\n" + 0.015*"come" + 0.015*"place" + 0.014*"time" + 0.012*"\n" + 0.011*"food" + 0.011*"good" + 0.010*"great" + 0.008*"get" + 0.008*"service"'),
 (5,
  '0.016*"\n\n" + 0.014*"place" + 0.013*"great" + 0.012*"food" + 0.011*"good" + 0.009*"order" + 0.009*"like" + 0.008*"time" + 0.008*"go" + 0.007*"service"'),
 (6,
  '0.024*"\n\n" + 0.014*"good" + 0.011*"food" + 0.011*"time" + 0.010*"place" + 0.010*"come" + 0.009*"\n" + 0.008*"order" + 0.007*"service" + 0.007*"go"'),
 (7,
  '0.020*"good" + 0.019*"\n\n" + 0.015*"food" + 0.014*"great" + 0.010*"service" + 0.009*"time" + 0.008*"like" + 0.008*"come" + 0.008*"\n" + 0.008*"place"'),
 (8,
  '0.023*"\n\n" + 0.016*"place" + 0.013*"food" + 0.012*"good" + 0.009*"time" + 0.008*"order" + 0.007*"like" + 0.007*"great" + 0.007*"try" + 0.007*"go"'),
 (9,
  '0.017*"\n\n" + 0.017*"good" + 0.013*"place" + 0.013*"food" + 0.011*"service" + 0.011*"\n" + 0.010*"time" + 0.009*"like" + 0.009*"come" + 0.008*"great"'),
 (10,
  '0.016*"\n\n" + 0.014*"good" + 0.012*"place" + 0.012*"come" + 0.012*"order" + 0.009*"time" + 0.009*"great" + 0.008*"like" + 0.008*"service" + 0.007*"food"'),
 (11,
  '0.017*"\n\n" + 0.014*"food" + 0.011*"great" + 0.011*"good" + 0.009*"place" + 0.008*"like" + 0.007*"go" + 0.007*"service" + 0.007*"time" + 0.007*"come"'),
 (12,
  '0.019*"\n\n" + 0.012*"place" + 0.012*"good" + 0.011*"time" + 0.009*"like" + 0.009*"great" + 0.009*"get" + 0.009*"food" + 0.008*"come" + 0.007*"order"'),
 (13,
  '0.017*"\n\n" + 0.016*"good" + 0.013*"place" + 0.012*"come" + 0.010*"like" + 0.010*"food" + 0.010*"time" + 0.009*"try" + 0.008*"$" + 0.008*"get"'),
 (14,
  '0.021*"\n\n" + 0.017*"good" + 0.015*"place" + 0.013*"food" + 0.011*"great" + 0.011*"\n" + 0.010*"like" + 0.010*"time" + 0.008*"service" + 0.007*"order"'),
 (15,
  '0.021*"\n\n" + 0.013*"good" + 0.012*"place" + 0.011*"like" + 0.011*"time" + 0.011*"order" + 0.008*"service" + 0.008*"food" + 0.008*"get" + 0.008*"come"'),
 (16,
  '0.020*"\n\n" + 0.013*"good" + 0.010*"great" + 0.010*"food" + 0.009*"service" + 0.009*"place" + 0.009*"\n" + 0.008*"time" + 0.007*"order" + 0.007*"like"'),
 (17,
  '0.017*"\n\n" + 0.017*"good" + 0.012*"food" + 0.009*"great" + 0.009*"place" + 0.009*"time" + 0.009*"service" + 0.008*"come" + 0.008*"go" + 0.008*"\n"'),
 (18,
  '0.021*"\n\n" + 0.012*"good" + 0.012*"place" + 0.011*"food" + 0.009*"great" + 0.008*"like" + 0.008*"time" + 0.008*"come" + 0.008*"order" + 0.007*"service"'),
 (19,
  '0.018*"good" + 0.013*"food" + 0.012*"time" + 0.011*"great" + 0.010*"\n\n" + 0.010*"come" + 0.010*"\n" + 0.010*"go" + 0.009*"place" + 0.008*"service"')]

In [69]:
words = [re.findall(r'"([^"]*)"',t[1]) for t in lda.print_topics()]
topics = [' '.join(t[0:5]) for t in words]
for t in topics: 
    print(t)

good

 place come time


 great place go food


 place food good like


 good place food order


 come place time



 place great food good


 good food time place
good

 food great service


 place food good time


 good place food service


 good place come order


 food great good place


 place good time like


 good place come like


 good place food great


 good place like time


 good great food service


 good food great place


 good place food great
good food time great

Based on the results from the topic model, we can assume that the overall topic is a resturaunt. That part is obvious since all the reviews were from a resturaunt, but we can also conclude that most of the people going to the resturaunt enjoyed the food and the service there. In all honesty im not sure how accurate these topics are becasue of multiple complications that came up when creating the model, but im out of time and am not going to mess with it any further.

## Stretch Goals

Complete one of more of these to push your score towards a three: 
* Incorporate named entity recognition into your analysis
* Compare vectorization methods in the classification section
* Analyze more (or all) of the yelp dataset - this one is v. hard. 
* Use a generator object on the reviews file - this would help you with the analyzing the whole dataset.
* Incorporate any of the other yelp dataset entities in your analysis (business, users, etc.)